<div class="card my-5">
  <div class="card-body">
    <h2>Role: {{role.name}}</h2>
    <hr>
    <div class="row">
      <div class="col-5">
        <div class="form-group">
          <label>Unassigned Users:</label>
          <select [(ngModel)]="selUnUsers" name="selUnUsers" id="selUnUsers" class="form-control selBox" multiple>
            <option *ngFor="let user of unUsers" [ngValue]="user"><i class="fa-user fa"></i>{{user.email}} - {{user.firstName}} {{user.lastName}}</option>
          </select>
        </div>

      </div>
      <div class="col-2 text-center">
        <span>Operations:</span>
        <br>
        <button [disabled]="!selUnUsers" (click)="assignUsersToRole()" class="btn btn-secondary"><i class="fa fa-arrow-right"></i></button>
        <br>
        <br>
        <button [disabled]="!selAsUsers" (click)="unAssignUsersFromRole()" class="btn btn-secondary"><i class="fa fa-arrow-left"></i></button>
      </div>
      <div class="col-5">
        <label>Assigned Users:</label>
        <select [(ngModel)]="selAsUsers" name="selAsUsers" id="selAsUsers" class="form-control selBox" multiple>
          <option *ngFor="let user of role.userDTOList" [ngValue]="user"><i class="fa-user fa"></i>{{user.email}} - {{user.firstName}} {{user.lastName}}</option>
        </select>
      </div>
    </div>


    <div class="btn-group">
      <a (click)="goToRoleList()"
         class="btn btn-secondary mx-1">Back
      </a>
    </div>
  </div>
</div>
