<div class="container">
  <button type="button" class="block rounded-pill">Add Category</button>
</div>
<div class="container">
  <button type="button" class="block rounded-pill">Add Product</button>
</div>
<div class="container">
  <button type="button" class="block rounded-pill">Add Manufacturer</button>
</div>
<div class="container">
  <button type="button" class="block  rounded-pill">Add Role</button>
</div>
<div class="container">
  <button type="button" class="block rounded-pill">Add Privilege</button>
</div>
<br>
<br>

