.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #4da59e;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.container {
  padding: 13px;
}

.block:hover {
  background-color: #B3C7D6FF;
  color: #0d0d0d;
}
