.shape {
  width: 150px;
  background-color: #92badd;
  border-radius: 80px;
  margin-bottom: 30px;
  float: left;
  margin-right: 20px;
}

.shape2 {
  border-radius: 30px;
}

.shape3 {
  border-radius: 5px;
}

.parent {
  color: #0d0d0d;
}

.id1 {
  background-color: #B3C7D6FF ;
}

.id2 {
  background-color: #92badd ;
}

body, html {
  height: 100%;
}

body {
  background-color: #001f3f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding-top: 20px;
}

#pagination {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.custom-pagination .page-number{
  display: inline-block;
  /* padding: 5px 12px; */
  background: #afffe6;
  margin: 0px 4px;
  border-radius: 25px;
}

.page-number.current{
  background: #ffffff!important;
  border: 2px solid #495057;
}

.page-number span{
  display: block;
  width: 28px;
  height: 28px;
  font-size: 18px;
  cursor: pointer;
}

.pagination-previous,.pagination-next{
  display: inline-block;
  font-weight: bold;
  cursor: pointer;
}

