<div class="card my-5 col">
  <div class="card-body col">
    <div class="d-inline-block">
      <button class="btn btn rounded-pill" routerLink="/category-add"><i class="fa fa-plus"></i></button>
    </div>
    <div ngbDropdown class="d-inline-block" *ngFor="let parent of parents">
      <button class="btn btn-outline text-dark" id="dropdownBasic1" ngbDropdownToggle>{{parent.name}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button class="button" *ngFor="let subCategory of parent.subCategories"
                ngbDropdownItem>{{subCategory.name}}</button>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

