<div class="container">
  <div class="col-3">
    <input type="text" [(ngModel)]="searchValue" class="input-group-text text-left" placeholder="Search for category">
  </div>
  <div class="container d-lg-inline-block">
    <div class="shape shape2" *ngFor="let parent of parents | filter: searchValue" (click)="goToProductByCategory(parent.id)" style="cursor: pointer">
      <div class="card-header text-center id1 rounded parent">{{parent.name}}</div>
      <div class="card-header text-center id2 rounded" *ngFor="let subCategory of parent.subCategories"
           (click)="goToProductByCategory(subCategory.id)">{{subCategory.name}}</div>
    </div>
  </div>
</div>

