<div class="card my-5">
  <div class="card-body">
    <h2>Role: {{role.name}}</h2>
    <hr>
    <div class="row">
      <div class="col-5">
        <div class="form-group">
          <label>Unassigned Privileges:</label>
          <select [(ngModel)]="selUnPrivileges" name="selUnPrivileges" id="selUnPrivileges" class="form-control" multiple>
            <option *ngFor="let privilege of unPrivileges" [ngValue]="privilege">{{privilege.name}}</option>
          </select>
        </div>

      </div>
      <div class="col-2 text-center">
        <span>Operations:</span>
        <br>
        <button [disabled]="!selUnPrivileges" (click)="assignPrivilegesToRole()" class="btn btn-secondary"><i class="fa fa-arrow-right"></i></button>
        <br>
        <br>
        <button [disabled]="!selAsPrivileges" (click)="unAssignPrivilegesFromRole()" class="btn btn-secondary"><i class="fa fa-arrow-left"></i></button>
      </div>
      <div class="col-5">
        <label>Assigned Privileges:</label>
        <select [(ngModel)]="selAsPrivileges" name="selAsPrivileges" id="selAsPrivileges" class="form-control" multiple>
          <option *ngFor="let privilege of role.privilegeDTOList" [ngValue]="privilege">{{privilege.name}}</option>
        </select>
      </div>
    </div>


    <div class="btn-group">
      <a (click)="goToRoleList()"
         class="btn btn-secondary mx-1">Back
      </a>
    </div>
  </div>
</div>
