<br>
<div class="container bootstrap snippets bootdey" >
  <div class="col-md-10 col-sm-9 content">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-info panel-shadow">
          <div class="panel-heading ">
            <h3>
              <img *ngIf="currentUser.image | async as image" [src]="image[0].url" height="150px" alt="Admin" class="rounded-circle" width="150px">
              {{currentUser.lastName}} {{currentUser.firstName}}
            </h3>
          </div>
          <div class="panel-body" *ngIf="order.orderLines.length >0">
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th>Product</th>
                  <th>Description</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let orderline of order.orderLines">
                  <td><img *ngIf="orderline.productDTO.thumbnail | async as thumbnail"
                           [src]="thumbnail[0].url"  class="img-cart"></td>
                  <td><strong>{{orderline.productDTO.name}}</strong><p>{{orderline.productDTO.productType}}</p></td>
                  <td>
                    <input type="number" value="1" min="1"  id="inputlg" [(ngModel)]="orderline.quantity"
                    (change)="changeQuantity(orderline.id, orderline.quantity)">
                  </td>
                  <td>{{orderline.productDTO.price}} RON</td>
                  <td>{{orderline.price}} RON</td>
                </tr>

                <tr>
                  <td colspan="4">&nbsp;
                  <hr>
                  </td>
                </tr>

                <tr>
                  <td colspan="4" class="text-right">Shipping cost</td>
                  <td *ngIf="order.total < 80">{{shippingCost}} RON</td>
                  <td *ngIf="order.total >= 80">0 RON</td>
                </tr>
                <tr>
                  <td colspan="4" class="text-right"><strong>Total</strong></td>
                  <td >{{order.total}} RON</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <br>
        <a *ngIf="order.orderLines.length >0" routerLink="/products" class="btn btn-outline-dark"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Continue Shopping</a>
        <a *ngIf="order.orderLines.length >0" class="btn btn-outline-dark pull-right" (click)="checkout(order.id)">Checkout<span class="glyphicon glyphicon-chevron-right"></span></a>

      </div>

      <div class="footer" *ngIf="order.orderLines.length == 0">
        <table width="100%">
          <tbody><tr>
            <td class="aligncenter content-block">Your cart is empty.</td>
          </tr>
          <tr>
            <td class="aligncenter content-block" >
              <button class="btn btn-outline-dark" routerLink="/products">Go shopping</button>
            </td>
          </tr>
          </tbody></table>
      </div>
    </div>
  </div>
  <br>
</div>
