<!--<div id="footer">-->
<!--  <hr>-->
<!--  <div class="text-center center-block">-->
<!--    <a><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>-->
<!--    <a><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>-->
<!--    <a><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>-->
<!--    <a><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>-->
<!--  </div>-->
<!--  <br>-->
<!--  <hr>-->
<!--</div>-->

<footer>
  <div class="container">
    <div class="form-row">
      <div class="col-md-4 text-center text-md-left ">

        <div class="py-0">
          <h3 class="my-4 text-secondary" style="cursor:default;">About<span class="mx-2 font-italic text-dark ">eStore</span></h3>
            <a style="cursor: pointer"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
            <a style="cursor: pointer"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
            <a style="cursor: pointer"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
            <a style="cursor: pointer"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
      </div>

      <div class="col-md-4 text-darktext-center text-md-left " style="cursor:default;">
        <div class="py-2 my-4">
          <div>
            <p class="text-dark"><i class="fa fa-map-marker mx-2 text-dark"></i>
              Craiova Romania </p>
          </div>

          <div>
            <p><i class="fa fa-phone mx-2 text-dark "></i> +04 22-27782183</p>
          </div>
          <div>
            <p><i class="fa fa-envelope mx-2 text-dark"></i><a href="mailto:support@eduonix.com">support@estore.com</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4 text-dark my-4 text-center text-md-left " style="cursor:default;">
        <span class=" font-weight-bold ">Description</span>
        <p class="text-dark my-2">We offer high-quality and up-to-date products just for you.</p>
        <p class="text-dark py-0 mb-4">&copy;2020 eStore Pvt. Ltd.</p>
      </div>
    </div>
  </div>
</footer>
