#image {
  height: 100%;
  background-color: #555555;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div#transbox {
  margin: 30px;
  background-color: #555555;
  border: 1px solid grey;
  border-radius: 25px;
  opacity: 1.0;
}
/*#color {*/
/*  background-color: #495057;*/
/*}*/

/*#footer {*/
/*  position: inherit;*/
/*  bottom: 0;*/
/*  right: 0;*/
/*  left: 0;*/
/*}*/
