<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #manufacturerAdd="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="manufacturer.name"
               class="form-control"
               id="name"
               name="name"
               placeholder="Enter manufacturer name"
               required #name="ngModel">
      </div>
      <div class="form-group">
        <a (click)="goToManufacturerList()"
           class="btn btn-secondary mx-1">Back
        </a>
        <button type="submit" [disabled]="!manufacturerAdd.form.valid"
                class="btn btn-info">Submit
        </button>
      </div>
    </form>
  </div>
</div>

