<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th class="align-middle" scope="col">#</th>
        <th class="align-middle" scope="col">Manufacturer</th>
        <th class="align-middle" scope="col">
          <div class="row d-flex align-items-center">
            <div class="col">
              <div class="input-group">

              </div>
            </div>
          </div>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let manufacturer of manufacturers ">
        <td>{{ manufacturer.id }}</td>
        <td>{{ manufacturer.name }}</td>
        <td>
          <div class="btn-group">
            <button (click)="delete(manufacturer.id)" class="btn btn-outline-dark"><i class="fa fa-trash"
                                                                                        aria-hidden="true"></i>
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
